@font-face {
    font-family: 'Museo 300';
    font-style: normal;
    font-weight: normal;
    src: local('Museo 300'), url('Museo300-Regular.woff') format('woff');
}
body{
    font-family: 'Museo 300';
}

footer {
    height: 50px;
    background: #000;
    color: #FFF;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}
#content {
    width: 98%;
    overflow: hidden;
    margin: 0 auto;
    min-height: calc(100% - 52px);
    padding: 1%;
    background-color: white;
}
header {
    height: 80px;
    background: #109e0d;
    color: #FFF;
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    border-radius: 15px;
}
nav {
    position: fixed;
    float: left;
    background-color: #109e0d;
    height: 30%;
    width: 14%;
    border: solid;
    border-color: white;
    color: white;
    border-radius: 15px;
}
#wrapper{
    float: right;
    width: 84%;
}
h2, h3 {
    color: #09b757;
}

table, th, td, tr {
    border: 1px solid;
    border-color: #09b757;
}
.bibliografia:hover {
    background-color: #09b757;
}
.menu{
    color:white;
    text-decoration: none;
}
#active{
    font-weight:bold;
}
.menu:hover {
    background-color: white;
    color: #09b757;
}
strong{
    padding:40%;
}

@media only screen and (max-width: 1190px) {
    nav {
        display: none;
    }
}
@media only screen and (min-width: 1191px) {
    .dropbtn, .dropdown, .dropdown-content{
        display:none;
    }
}

.dropbtn {
    position: fixed;
    float: left;
    background-color: #109e0d;
    color: white;
    padding: 1px;
    font-size: 20px;
    cursor: pointer;
    border: solid;
    border-color: white;
    color: white;
    border-radius: 10px;
    height:7%;
    width: 14%;
}

.dropdown {
    position: fixed;
    float:left;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

     
.dropdown-content a:hover {
    background-color: #f1f1f1
}


.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
#pwd {
    fill: #170edd;
    stroke: black;
    stroke-width: 5;
    opacity: 0.5
}
#phm {
    fill: #109e0d;
    stroke: black;
    stroke-width: 5;
    opacity: 0.5
}
#hm {
    fill: #ff0000;
    stroke: black;
    stroke-width: 5;
    opacity: 0.5
}
svg{
    display:inline-block;
}

@keyframes animacja{
    0% {left:0px;}
    10% {left:100px;}
    11% {left:90px;}
    20% {left:300px}
    100% {left:0px;}
}

#bedzie_animowane {
    width: 100px;
    position: relative;
    height: 100px;
    animation: animacja;
    animation-duration: 5s;
    animation-iteration-count: 10;
}

.galeria {
    position: relative;
    display: inline-block;
}

.galeria-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    top: -20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.galeria:hover .galeria-content {
    display: block;
}

.opis {
    padding: 15px;
    text-align: center;
}

.chusty {
    display: inline-block;
}